@{
    ViewData["Title"] = "Produkter";
}
<table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%" style="display:none">
    <thead>
        <tr>
            <th class="noExport">Id</th>
            <th>Namn</th>
            <th>Moms</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Products)
        {
            if (item.Name != "Borttagen")
            {
            <tr>
                <td class="noExport">@item.ProductID</td>
                <td>@item.Name</td>
                <td>@item.Vat.Percent</td>
            </tr>
            }
        }
    </tbody>
</table>

<div id="selectedproduct"></div>

<br>

<input type="button" class="btn btn-default" value="Skapa produkt" style="margin-right: 20px;" onclick="window.location='@Url.Action("Add", "Product")/'" />

<br>
<br>
<script>
    $(document).ready(function () {
        var selectedproduct = $('#selectedproduct');
        var table = $('#products').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Swedish.json',
                select: {
                    rows: ""
                    }
            },
            select: {
                style: 'single'
            },
            responsive: true,
            fixedHeader: true,
            dom: 'Blfrtip',
            buttons: [{
                extend: 'collection',
                text: 'Exportera',
                buttons: [
                    { extend: 'copy', text: 'Kopiera', exportOptions: {columns: "thead th:not(.noExport)"} },
                    { extend: 'excel', text: 'Excel', exportOptions: {columns: "thead th:not(.noExport)"} },
                    { extend: 'pdf', text: 'PDF', exportOptions: {columns: "thead th:not(.noExport)"} },
                    { extend: 'print', text: 'Skriv ut', exportOptions: {columns: "thead th:not(.noExport)"} }
                ],
            }],
            });
            
            table.column(0).visible(false);

            var data = table.buttons.exportData({
            columns: ':visible'
            });
            $('#products tbody').on( 'click', 'tr', function () {
            var columns = table.row(this).data();
            var productname = columns[1];
            var productid = columns[0];

            $('#productdiv').remove();

            selectedproduct.prepend('<div id="productdiv"><h3>' + productname + '</h3><br><input type="button" class="btn btn-default" value="Ändra uppgifter" onclick="window.location=\'@Url.Action("Edit", "Product")/' + productid + '\'" /></div>');
            });

            setTimeout(function() {
                $('#products').show();
            });
        });
</script>

            