@{
    ViewData["Title"] = "Tider";
    bool isAjaxCall = Context.Request.Headers["x-requested-with"]=="XMLHttpRequest";
    Layout = isAjaxCall ? null : "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http;

<h3>Rapporterade tider</h3>

<table id="times" class="table table-striped table-bordered" cellspacing="0" width="100%" style="display:none">
    <thead>
        <tr>
            <th class="noExport">Id</th>
            <th class="noExport">Klient</th>
            <th>Starttid</th>
            <th>Sluttid</th>
            <th>Produkt</th>
            <th class="noExport">Beskrivning</th>
            <th>Timmar</th>
            <th>Fakturerat</th>
            <th>Skapat av</th>
            <th class="noExport">UserID</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Times)
        {
            <tr>
                <td class="noExport">@item.TimeID</td>
                <td class="noExport">@item.Client.Name</td>
                <td>@item.Starttime</td>
                <td>@item.Endtime</td>
                <td>@item.Product.Name</td>
                <td class="noExport">@item.Description</td>
                <td>@item.Hours</td>
                @{
                    if (!@item.Invoiced)
                    {
                    <td> </td>
                    } 
                    else
                    {
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    }
                }
                <td>@item.User.Name</td>
                <td class="noExport">@item.User.UserID</td>
            </tr>
        }
    </tbody>
</table>
<div id="selectedtime"></div>
<br>
<br>

<script>

    $(document).ready(function () {
        var info = $('#selectedtime');
        var table = $('#times').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Swedish.json',
                select: {
                    rows: ""
                    }
            },
            order: [[ 2, "desc" ]],
            select: {
                style: 'single'
            },
            responsive: true,
            fixedHeader: true,
            dom: 'Blfrtip',
            buttons: [{
                extend: 'collection',
                text: 'Exportera',
                buttons: [
                    { extend: 'copy', text: 'Kopiera', exportOptions: {columns: "thead th:not(.noExport)"} },
                    { extend: 'excel', text: 'Excel', exportOptions: {columns: "thead th:not(.noExport)"} },
                    { extend: 'pdf', text: 'PDF', exportOptions: {columns: "thead th:not(.noExport)"} },
                    { extend: 'print', text: 'Skriv ut', exportOptions: {columns: "thead th:not(.noExport)"} }
                ],
            }],
            });
            
            table.column(0).visible(false);
            table.column(1).visible(false);
            table.column(5).visible(false);
            table.column(9).visible(false);

            var data = table.buttons.exportData({
            columns: ':visible'
            });
            $('#times tbody').on( 'click', 'tr', function () {
            var columns = table.row(this).data();
            var timeid = columns[0];
            var timeclient = columns[1];
            var timestart = columns[2];    
            var timeend = columns[3];
            var timeproduct = columns[4];
            var timedescription = columns[5];
            var timeuser = columns[9];

            $('#timediv').remove();
            
            info.prepend('<div id="timediv"><h4>' + timeclient + ' - ' + timeproduct + '</h4><br><p>' + timedescription + '</p>@{if(Context.Session.GetInt32("account") == 1){<br><input type="button" class="btn btn-default"  style="margin-right: 20px;" value="Ändra uppgifter" onclick="window.location=\'@Url.Action("Edit", "Time")/' + timeid + '\'" /><input type="button" class="btn btn-default" value="Markera som fakturerad" onclick="window.location=\'@Url.Action("SetInvoice", "Time")/' + timeid + '\'" />}}</div>');
            })
            
            setTimeout(function() {
                $('#times').show();
            });
        });
</script>